@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --foreground: #ffffff;
  --card-background: #252526;
  --light-background: #3a3a3b;
  --dark-background: #020709;
  --round-button-dark-background: #1b1f21;
  --round-button-light-background: #494949;
  --round-button-light-background: #494949;
  --round-button-dark-background-hover: #383c3d;
  --round-button-light-background-hover: #5d5d5d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
  }
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
